{% extends 'boards/base.html' %} <!-- layout을 상속받는다! -->

{% block content %}

<hr>

{% if datas %}
{% for key, value in datas.items %}
<div class="row">
    <div class="col-sm-2">
        <img src="{{ value.0 }}" alt="" width="200" height="200" class="img-thumbnail">
    </div>
    <div class="col-sm-3">
        <p>{{ key }}</p>
        <p>price: {{ value.2 }} 원</p>
        <p class="text-truncate">link: {{ value.1 }}</p>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'boards:extract' value.3 %}">[EXTRACT]</a>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

